body{
    /* display: flex; */
    /* background-color: rgb(32, 32, 32); */
    /* justify-content: center; */
    /* margin: 0px; */
    
}

#contentInvoice{
    display: none;
}

#content{
    /* display: none; */
    font-size: 9px;
    height: 100vh;
    /* background-color: purple; */
}
.nav1{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

.footer {
    /* position: relative; */
    position: absolute;
    display: flex;
    font-size: 9px;
    flex-direction: column;
    margin-top: -9px;
    width: 522px;
    margin-left: 40px;
    bottom: 20px;
    left: 0;
    right: 0;
}

.row1{
    display: flex;
    flex-direction: row;
    font-size: 9px;
    justify-content: space-between;
}

.posTable{
    width: 100%;
}
.header{
    display: flex;
    flex-direction: row;
    margin-left: 5px;
    min-height: 90px;
    min-width: 890px;
    max-height: 100px;
    margin-top: 10px;
    margin-bottom: 6px;
    /* background-color: rebeccapurple; */
    
}

.belowHead{
    /* position: absolute; */
    min-height: 35px;
    /* min-width: 580px; */
    max-width: 575px;
    margin-left: 5px;
    margin-top: -7px;
    background-color:rgb(211, 210, 210);
    display: flex;
    /* font-size: 10px; */
}

#p1{
    padding-top: 15px;
    padding-left: 30px;
}

#p2{
    padding-top: 15px;
    padding-left: 150px;
}
/* #imgbg{ */
    /* background-color: black; */
    /* max-width: 100px; */
    /* max-height: 100px; */
    /* display: flex; */
    /* justify-content: center; */
/* } */
.imgset{
    min-width: 90px;
    min-height: 90px;
    border-radius: 46px;
    background-color: white;
    display: flex;
    justify-content: center;

}
.img1{
    max-height: 70px;
    max-width : 70px;
    margin-top: 8px;
    
}

#canvas{
    margin-left: 5px;
}

#canvas2{
    margin-left: -1px;
}

.bills{
    /* position: absolute; */
    /* bottom: 0px; */
    margin-top: 9px;
    margin-left: 35px;
    /* font-size: 10px; */
    max-width: 520px;
    max-width: 520px;

}

.mainTable{
    text-align: end;
}

.footer{
    /* position: relative; */
    display: flex;
    font-size: 9px;
    justify-content: space-between;
    margin-top: -9px;
}

.footerTable{
  
}

.bankDetails{

    margin-left: 5px;
}

.numToWord{
    display: block;
}

.sign{
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    max-width: 100px;
    max-height: 100px;
}

.sign img{
    height: 90px;
    width: 90px;
}

.seperator {
    position: relative;
    height: 8px;
    width: 575px;
    background-color: black;
    margin-left: 5px;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}

input{
    border: 1px solid grey;
    border-radius: 7px;
    box-shadow: 1px 1px 1px 1px rgb(81, 79, 79);
}
